// theme settings
$color-text: #{'{{ settings.color_body_text }}'};
$color-primary: #{'{{ settings.color_primary }}'};

// override bulma variables
$dark: $color-text;
$primary: $color-primary;

// 4. Setup your Custom Colors
$linkedin: #0077B5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #1DA1F2;
$twitter-invert: findColorInvert($twitter);
$github: #222222;
$github-invert: findColorInvert($github);
