/*
 *   Collection header
 * ------------------------------------*/

.collection-header {
}

/*
 *   Collection filters
 * ------------------------------------*/

.collection-filters {
	padding-top:1rem;
	padding-bottom:1rem;

	.filter-product-count {
		padding-top: 0.4em;
	}
}

/*
 *   Product grid
 * ------------------------------------*/

.collection-loop {
	background:whitesmoke;
}

/*
 *   Pagination
 * ------------------------------------*/

.pagination-snippet {
	padding-top:3rem;

	.pagination-count {
		margin:0 1em;
	}
}