/*
 *   Header and navigation
 * ------------------*/

.header-section {
	.navbar-menu {
		background-color:transparent;
	}
	.navbar-burger {
		outline:none;
		border-radius:0;
		border:none;
		box-shadow:none!important;
		background-color:transparent;
	}
	.cart-item {
		.cart-item-count {
			display:none;
		}
	}
}
