.product-template {
	.subtitle {
		opacity:0.5;
	}
	.product-price {
		margin-bottom:1em;
	}
	.form-row {
		display:flex;
		
		.control.quantity {
			width:70px;
		}
		.field.has-addons {
			margin-right:1em;
		}
	}
	.offers {
		margin:-1em 0 1em;
	}
}

.slider-product {
	visibility: hidden;
	transition:200ms opacity linear;
	opacity:0;
	margin-bottom:1em;
	
	&.slick-initialized { 
		visibility: visible;
		opacity:1;
	}
}

.slick-dots {
	li {
		width:50px;
		height:50px;
		opacity:0.5;
		border:2px solid transparent;
		border-radius:2px;
		box-sizing: content-box;
		padding:0;
		transition:opacity 500ms $easing, border 500ms $easing;

		button {
			width:50px;
			height:50px;
			background-size: cover;
			background-position: center center;
			padding:0;
			margin:0;
			border-radius:0;
		}

		&.slick-active {
			opacity:1;
			border:2px solid $primary;
		}
	}
}

.slick-slide:focus {
	outline:none;
}