{% comment %}
	Add a checkbox to the form for each product-addon
{% endcomment %}
{% for product_tag in product.tags %}
    {% assign tag_tokens = product_tag | split: '=' %}
    {% assign num_tokens = tag_tokens | size %}
    {% if num_tokens == 2 %}
        {% assign first_token = tag_tokens | first %}
        {% assign last_token = tag_tokens | last %}
        {% if first_token == "include-addon" %}
            {% assign addon_id = last_token %}
                <div class="product-form__item product-form__item--addon" data-variant-id="{{ addon_id }}"></div>
        {% endif %}
    {% endif %}
{% endfor %}